body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
}

body {
    font-family: sans-serif;
    font-size: 13px;
    background: #fff;
    color: #3c464b;
}

#site {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr auto 1fr;

    & > header {
        grid-row: 1;
        grid-column: 1/4;
        padding: 10px;
        background: #3c464b;
        color: white;
    }

    & > #plan {
        grid-row: 2;
        grid-column: 1/4;
    }

    & > footer {
        grid-row: 3;
        grid-column: 1/4;
        padding: 10px;
        background: #3c464b;
        color: white
    }
}

.daysContainer {
    display: flex;
    overflow: auto;
    padding: 10px;
}

$color1: #f5f5f0;
$color2: #ebebe3;

.day {
    display: grid;
    grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr;
    flex-grow: 1;

    & + & {
        margin-left: 10px; 
    }

    header {
        min-width: 200px;
        background: #32a0a0;
        color: white;
        padding: 10px;
    }
    .meal {
        color: black;
        padding: 10px;
        display: flex;
        flex-direction: column;
        &:nth-child(even) {
            background: $color1;
        }
        &:nth-child(odd) {
            background: $color2;
        }

        .spacer {
            flex-grow: 1;
        }

        .description {
            flex-grow: 1;
        }

        .prices {
            display: flex;
            flex-direction: row;
            align-items: right;
        }

        .price {
            text-align: right;
            background: rgba(0,0,0,0.1);
            padding: 5px 10px 5px 10px;
            border-radius: 15px;
            &::after {
                content: ' €'
            }
        }

        .price + .price {
            margin-left: 10px;
        }
    }
}